asgiref==3.12.1
black==26.5.1
click==8.5.0
crispy-bootstrap5==2026.9
Django==6.1.1
django-crispy-forms==2.7
django-debug-toolbar==8.0.0
flake8==7.4.1
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pep8-naming==0.15.1
platformdirs==4.12.1
pycodestyle==2.15.0
pyflakes==4.0.0
pytokens==0.4.1
setuptools==84.0.0
sqlparse==0.6.0
tzdata==2026.4
